/* Base */
.react-calendar {
    background-color: #22232600; 
    border: red 1px solid #22232600; /* bg-gray-800 */
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    width: 90%;
    max-width: 300px;
    box-shadow: 0 4px 20px rgb(75, 110, 75);
  }
  
  /* Header del mes */
  .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.1rem;
  }
  
  .react-calendar__navigation button {
    background: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .react-calendar__navigation button:enabled:hover {
    background-color: #374151; /* bg-gray-700 */
    border-radius: 0.5rem;
  }
  
  /* Celdas del calendario */
  .react-calendar__tile {
    background: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
  }
  
  .react-calendar__tile--now {
    background: #3b82f6; /* bg-blue-500 */
    color: white;
  }
  
  .react-calendar__tile--now:hover {
    background: #2563eb; /* bg-blue-600 */
  }
  
  .react-calendar__tile:enabled:hover {
    background: #374151; /* bg-gray-700 */
    color: white;
  }
  
  /* Días marcados con rutina */
  .highlight {
    background: #22c0c5; /* bg-green-500 */
    color: black;
    border-radius: 50%;
  }
  
  /* Día seleccionado */
  .react-calendar__tile--active {
    background: #2563eb; /* bg-blue-600 */
    color: white;
    border-radius: 0.5rem;
  }